body {
    font-family: 'Fira Sans', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    max-width: 210mm;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    -webkit-font-smoothing: antialiased;
    font-size: 1.125em;
    color: #333;
    line-height: 1.5em;
}

div.cv {
    width: 210mm;
    height: 297mm;
    /* padding: 20px 25px; */
    box-shadow: 1px 1px 12px #555;
    color: #333;
}

.middle-panel {
    padding: 0px 10px;
}

.middle-panel h1 {
    font-size: 2em
}
.middle-panel h2 {
    font-size: 1.25em
}

.middle-panel h3 {
    font-size: 0.9em
}

.entry .content .description {
    font-size: 0.8em;
}
.entry .content .description p:first-child {
    margin: 0;
}
.entry a {
    color: #333;
}
.tag a {
    color: #777;
    text-decoration: underline;
}

.tags .tag {
    margin-left: 10px;
}

.left-panel {
    color: #FFF;
    padding: 20px 0px;
    background-color: #333
}

.left-panel h1 {
    font-size: 1.5em
}
.left-panel h2 {
    font-size: 1em;
}
.left-panel h3 {
    font-size: 0.5em;
}

a {
    text-decoration: none;
    color: #09f;
}

a:hover {
    text-decoration: underline;
}
