body {
    font-family: 'Fira Sans', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    line-height: 1.5em;
    -webkit-print-color-adjust: exact;
}

/* * { background-color: blue; } */
/* * * { background-color: blueviolet; } */
/* * * * { background-color: purple; } */
/* * * * * { background-color: pink; } */
/* * * * * * { background-color: red; } */
/* * * * * * * { background-color: orange; } */
/* * * * * * * * { background-color: yellow; } */
/* * * * * * * * * { background-color: lime; } */
/* * * * * * * * * * { background-color: green; } */
/* * * * * * * * * * * { background-color: darkgreen; } */


#app {
    margin: 5mm auto;
}

.cv {
    color: #333;
    padding: 0px 20px;
}

.cv h1 {
    font-size: 200%;
}

.cv h2 {
    font-size: 125%;
}

.cv h3 {
    font-size: 100%;
}

.abstract .emph {
    color: #111;
    text-decoration: underline;
}

.entry .content .description {
    font-size: 90%;
}
.entry .content .description p:first-child {
    margin: 0;
}
.entry a {
    color: #333;
}
.tag a {
    color: #777;
    text-decoration: underline;
}

.tags .tag {
    margin-left: 10px;
}

.description a {
    font-style: italic;
    color: #222;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
